{% extends 'admin/base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
        <tbody>
        {% for user in users %}
            <tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
                <th>Username</th>
                <td>{{ user.username }}</td>
                <th>Age</th>
                <td>{{ user.age }}</td>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
                <th>Linkedin</th>
                <td>{{ user.linkedin }}</td>
                <th>Github</th>
                <td>{{ user.github }}</td>

                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
